# Question 1 :
 Write a program to subtract two complex numbers in Python.

In [3]:
x= 8 + 3j
y= 6 + 2j
z= x-y
print(z)

(2+1j)

# Question 2 :
Write a program to find the fourth root of a number

In [4]:
a = 81
b = a ** (1.0/4)
print(b)

3.0

# Question 3:
Write a program to swap two numbers in Python with the help of a temporary variable

In [14]:
a = 7
b = 8
tmp = 0
tmp=a
a=b
b = tmp
print("After swapping a is-",a)
print("After swapping b is-",b)

After swapping a is- 8
After swapping b is- 7

# Question 4:
Write a program to swap two numbers in Python without using a temporary variable.

In [15]:
s = 5
t = 6
s,t = t,s
print("After swapping s is - ",s)
print("After swapping t is - ",t)

After swapping s is -  6
After swapping t is -  5

# Question 5:
Write a program to convert fahrenheit to kelvin and celsius both.

In [24]:
fahrenheit = 60

celsius = (fahrenheit -32)/1.8 

kelvin = (fahrenheit - 32) * 5/9 + 273.15


print("if Fahrenheit is",fahrenheit,"thn celsius is equal to -",celsius)

print("if Fahrenheit is" ,fahrenheit,"thn kelvin is equal to -",kelvin)

if Fahrenheit is 60 thn celsius is equal to - 15.555555555555555
if Fahrenheit is 60 thn kelvin is equal to - 288.7055555555555

# Question 6:
Write a program to demonstrate all the available data types in Python. Hint: Use type() function.

In [25]:
x = 10
print(type(x))

<class 'int'>

In [26]:
x = 10.25
print(type(x))

<class 'float'>

In [27]:
y = "LetsUpgrade"
print(type(y))

<class 'str'>

In [28]:
l =[1,2,3,4,5]
print(type(l))

<class 'list'>

In [29]:
t=(1,2,3,4,"karthik")
print(type(t))

<class 'tuple'>

In [30]:
d = {1:"emp",2:"id",3:"sal"}
print(type(d))

<class 'dict'>

In [31]:
c = 2 + 3j
print(type(c))

<class 'complex'>

In [35]:
for i in range(1):
     print(type(i))

<class 'int'>

In [36]:
s = False
print(type(s))

<class 'bool'>

In [37]:
se ={"hi","hello","welcome"}
print(type(se))

<class 'set'>

# Question 7:
Create a Markdown cell in jupyter and list the steps discussed in the session by Dr. Darshan
Ingle sir to create Github profile and upload Githubs Assignment link.

In [40]:
import os
os.getcwd()

'C:\\Users\\KARTHIK'